.navbar {
    background-color: #323738;
}

.h1 {
    font-size: 26px;
    padding-left: 1.5rem;
    font-family: 'Handlee', sans-serif;
    color: #a180bb;
    text-align: left;

}

.nav-link {
    font-size:larger;
}
/* 
.collapse {
    p;
} */