.navbar {
    background-color: #323738;
}

.h1 {
    font-size: 36px;
    padding-left: 20%;
    font-family: 'Nunito', sans-serif;
    
}

#navbarSupportedContent {
    display:block;
}

.nav-link {
    font-size:larger;
    text-align: right;
}
