.navbar {
    background-color: #323738;
}

.h1 {
    font-size: 26px;
    padding-left: 20%;
    font-family: 'Handlee', sans-serif;
    color: #a180bb;
    text-align: left;

}

.nav-link {
    font-size:larger;
    text-align: right;
}
