.card {
    align-items: center;
    /* border: rgb(120, 194, 211) 5px solid; */
    margin-bottom: 1rem;
    display: flex;
}
 

.card-body p {
    max-height: 22rem;
    overflow:hidden;

}

.card-body p:hover{
    overflow:auto;

}

.project-img {
    height: 10rem;
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
a img.project-img:hover{
    opacity: 60%;

}
button:hover {
    font-weight: 600;
}

button {
    bottom: 2rem;
    /* position: absolute; */
}
