footer {
    background-color:#323738;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    height: 40px;
    border-top:#b7cfcf 5px solid;
}



footer .fab {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 10px;
    color:#a180bb;
}

a {
    color: transparent;
}

a:hover {
    color: transparent;
}