footer {
    background-color:#323738;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    height: 40px;
    border-top:#b7cfcf 5px solid;


}